{% extends 'base.html' %}
{% block title %}Sign Up | MediPortal{% endblock %}
{% block content %}
<h2>Create Account</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="field">
    <label for="id_first_name">First Name</label>
    {{ form.first_name }}
  </div>
  <div class="field">
    <label for="id_last_name">Last Name</label>
    {{ form.last_name }}
  </div>
  <div class="field">
    <label for="id_username">Username</label>
    {{ form.username }}
  </div>
  <div class="field">
    <label for="id_email">Email</label>
    {{ form.email }}
  </div>

  <div class="field">
    <label>User Type</label>
    {{ form.user_type }}
  </div>

  <div class="field">
    <label for="id_profile_picture">Profile Picture</label>
    {{ form.profile_picture }}
  </div>

  <div class="field">
    <label for="id_address_line1">Address Line 1</label>
    {{ form.address_line1 }}
  </div>
  <div class="field">
    <label for="id_city">City</label>
    {{ form.city }}
  </div>
  <div class="field">
    <label for="id_state">State</label>
    {{ form.state }}
  </div>
  <div class="field">
    <label for="id_pincode">Pincode</label>
    {{ form.pincode }}
  </div>

  <div class="field">
    <label for="id_password1">Password</label>
    {{ form.password1 }}
  </div>
  <div class="field">
    <label for="id_password2">Confirm Password</label>
    {{ form.password2 }}
  </div>

  <button class="btn" type="submit">Sign Up</button>
  <a class="btn outline" href="{% url 'accounts:login' %}">Already have an account? Login</a>
</form>

{% if form.errors %}
  <pre>{{ form.errors }}</pre>
{% endif %}

{% endblock %}
